div ::content{
    max-width: 1600px;
    margin : 0 auto;
}
nav a {
    text-align: center;
    color: palevioletred;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: rgb(107, 135, 158);
}
header {
    background-color: rgb(50, 80, 90);
}
nav a:hover {
    background-color: white;
    color: rgb(32, 31, 32);
}
.book, .join {
    background-color: grey;
    color: rgb(101, 113, 109);
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: white;
    color: bisque;
}
#background {
    background-color: rgb(144, 159, 154);
}
.msg {
    background-color: skyblue;
}
.msg h2 {
    color: rgb(16, 21, 21);
}
.msg p {
    color: black;
}
footer {
    background-color: rgb(99, 99, 230);
    color: rgb(13, 10, 15);
}
footer a {
    color: azure;
    text-decoration: none;
}
footer a:hover {
    color: rgb(98, 184, 199);
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
.home-title {
    color: slateblue;
}
h4 {
    color: black;
}
.icon {
    width: 80px;
}